<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <div class="mt-3 container text-center">
    <a href="/user-create"><button type="button" class="btn btn-primary">Crear Usuario</button></a>
    <a href="/users"><button type="button" class="btn btn-success">Todos los Usuarios</button></a>
  </div>
    {{#if todos}}
    <div class="container-fluid pt-5 w-50">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre de Usuario</th>
              <th scope="col">Email</th>
              <th scope="col">Fecha de creación</th>
              <th scope="col">¿Eliminar?</th>
            </tr>
          </thead>
          {{/if}}
          <tbody>
            {{#each todos}}
                    <tr>
                        <th>{{this.id}}</th>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.fecha}}</td>
                        <td><a href="/user-delete/{{this.id}}"><button type="button" class="btn btn-danger" >Eliminar</button></a></td>
                    </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</body>
</html>